@import '../../common/styles/variables.css';

.iconSuccess {
	color: var(--dojo-success-color);
}

.iconError {
	color: var(--dojo-error-color);
}

.iconLg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon2x {
  font-size: 2em;
}

.icon3x {
  font-size: 3em;
}

.icon4x {
  font-size: 4em;
}

.icon5x {
  font-size: 5em;
}

.iconFw {
  width: 1.28571429em;
  text-align: center;
}

.iconUl {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.iconUl > li {
  position: relative;
}

.iconLi {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.iconLiIconLg {
  left: -1.85714286em;
}

.iconBorder {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.iconPullLeft {
  float: left;
}

.iconPullRight {
  float: right;
}

.iconIconPullLeft {
  margin-right: .3em;
}

.iconIconPullRight {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}

.iconPullLeft {
  margin-right: .3em;
}

.iconPullRight {
  margin-left: .3em;
}

.iconSpin {
  -webkit-animation: iconSpin 2s infinite linear;
  animation: iconSpin 2s infinite linear;
}

.iconPulse {
  -webkit-animation: iconSpin 1s infinite steps(8);
  animation: iconSpin 1s infinite steps(8);
}

@-webkit-keyframes iconSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes iconSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.iconRotate90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iconRotate180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.iconRotate270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.iconFlipHorizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.iconFlipVertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .iconRotate90,
:root .iconRotate180,
:root .iconRotate270,
:root .iconFlipHorizontal,
:root .iconFlipVertical {
  filter: none;
}

.iconStack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.iconStack1x,
.iconStack2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.iconStack1x {
  line-height: inherit;
}

.iconStack2x {
  font-size: 2em;
}

.iconInverse {
  color: #ffffff;
}
